{% extends "team/base.html" %}

{% block nav %}
<li class="navigation__item"><a href="{% url 'market_p_create' %}" class="navigation__link">New Market Plan</a></li>
    
{% endblock  %}

{% block content %}
    <h3>List of Market Plans</h3>
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Full Name</td>
                <td>Date</td>
                <td>File Ref No</td>
                <td>Account code no</td>
                <td>Marketer</td>
                <td>Director Name</td>
                <td>Director No</td>
                <td>Location</td>
                <td>Comodity</td>
                <td>Communication</td>
                <td>Travelling Acc</td>
                <td>Advertising </td>
                <td>Total </td>
                
                <td> <a href=" {% url 'market_p_create' %} " class="btn btn-outline-success"> <i class="fas fa-plus"> </i> Add New</a> </td>
            </tr>
        </thead>
        <tbody>
            {% for person in object_list %}
                <tr>
                    <td>{{person.name}}</td>
                    <td>{{person.date}}</td>
                    <td>{{person.file_ref_no}}</td>
                    <td>{{person.account_code_no}}</td>
                    <td>{{person.marketer}}</td>
                    <td>{{person.director_name }}</td>
                    <td>{{person.director_no}}</td>
                    <td>{{person.location}}</td>
                    <td>{{person.comodity}}</td>
                    <td>{{person.communication}}</td>
                    <td>{{person.travelling_accomodation}}</td>
                    <td>{{person.advertising}}</td>
                    <td>{{person.total }}</td>
                    <td> 
                        <a href=" {% url 'market_p_detail' person.id %} " class="btn text-primary px-0 " > <i class="far fa-edit fa-ly"></i> </a> 
        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}