<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <ul class="nav-item">
            <li> <a href="nav-link" class="" href=" {% url 'some_view' %} "></a></li>
            <li> <img src="{{}}" alt="">g src="" alt=""> </li>
        </ul>
        
        <script src="" async defer></script>
    </body>
</html>