     *,
     *::after,
     *::before {
         margin: 0;
         padding: 0;
         box-sizing: border-box;  /*This is to set the box model so that the borders and the paddings are no longer added to the total height or width spesified for a box*/
     }


     html {
         font-size: 62.5%;//1rem=10px, 10/16=62.5%
        
         @include respond (tab-land) {
            font-size: 56%;//9px, 9/16=56%
         }
         @include respond (tab-port) {
            font-size: 50%; //8px, 8/16=50%
         }
         @include respond (phone) {
           font-size: 43%;//7px, 7/12=58%
         }  
         @include respond (big-desk) {
             font-size: 75%;//12px, 12/16=75
         }
     }

     body {
        
        box-sizing: inherit;
        padding: 2rem;
        
        @include respond (tab-port) {
        padding: 0;
        }
     }

     ::selection {
         background-color: $color-primary;
         color: $color-white;
     }