{% extends "team/base.html" %}
{% block title %}Create Account{% endblock  %}
{% load crispy_forms_tags %}
{% block heading %}<h4>Register</h4>{% endblock  %}
{% block content %}
    
    <form action="" class="form-group" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-outline-success" type="submit" >Create</button>
        <p class="">Already have an account ? Login <a href=" {% url 'login' %} " class="btn btn-outline-primary">Here</a></p>
        
    </div>
    
    </form>
{% endblock  %}