//colors
$color-primary: #800080; //purple
$color-primary-light: #b62db6; //lightpurple
$color-primary-dark: #520e52; //darkpurple
$color-primary-light-2: #b62db6ad;
$color-primary-dark-2: #520e52ad;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: rgb(78, 75, 75);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-secondary-light-2: #ffbb00da;
$color-secondary-dark-2: #ff7830d2;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-tertiary-light-2: #2998ffd0;
$color-tertiary-dark-2: #5543fad7;

$color-primary-light-1: #b93bb9;
$color-primary-dark-1: #551555;
$color-evo:#800080;


//grid
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-verticle-small: 6rem;
$gutter-horizontal: 5rem;

//font
$default-font-size: 1.6rem;

