{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
        <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
        <link rel="shortcut icon" type="image/png" href="img/LOGO.png">
        
        <title>evolve logistics &mdash;</title>
    </head>
    <body>
       <div class="container">

        <!--Header-->
           <header class="header">
               <!--logo-->
               <img src="img/LOGO.png" alt="evolve logo" class="logo">

               <!--search box-->
               <form action="#" class="search">
                   <input type="text" class="search__input" placeholder="Search">

                   <button class="search__button">
                       <svg class="search__icon">
                           <use xlink:href= "img/sprite.svg#icon-magnifying-glass"></use>
                       </svg>
                   </button>
               </form>


               <!--chat, bookmark and me profile-->
               <nav class="user-nav">
                   <div class="user-nav__icon-box">
                       <svg class="user-nav__icon">
                           <use xlink:href= "img/sprite.svg#icon-bookmark"></use>
                       </svg>
                       <span class="user-nav__notification">6</span>
                   </div>

                   <div class="user-nav__icon-box">
                       <svg class="user-nav__icon">
                           <use xlink:href= "img/sprite.svg#icon-chat"></use>
                       </svg>
                       <span class="user-nav__notification">8</span>
                   </div>
                   
                   <div class="user-nav__user">
                       <img src="img/me.jpg" alt="" class="user-nav__user-photo">
                       <span class="user-nav__user-name">Samuel</span>
                   </div>
               </nav>

           </header>

           <!--side bar and details-->
           <div class="content">


            <!--Side bar-->
               <nav class="sidebar">
                   <ul class="side-nav">
                       <li class="side-nav__item side-nav__item--active ">
                           <a href="index.html" class="side-nav__link">
                           <svg class="side-nav__icon">
                               <use xlink:href= "img/sprite.svg#icon-home"></use>
                           </svg>
                           <span>Home</span>
                           </a>
                       </li>
                       <li class="side-nav__item">
                           <a href="/about.html" class="side-nav__link">
                           <svg class="side-nav__icon">
                               <use xlink:href= "img/sprite.svg#icon-key"></use>
                           </svg>
                           <span>About</span>
                           </a>
                       </li>
                       <li class="side-nav__item">
                           <a href="/services.html" class="side-nav__link">
                           <svg class="side-nav__icon">
                               <use xlink:href= "img/sprite.svg#icon-aircraft-take-off"></use>
                           </svg>
                           <span>Services</span>
                           </a>
                       </li>
                       <li class="side-nav__item">
                           <a href="/contact.html" class="side-nav__link">
                           <svg class="side-nav__icon">
                               <use xlink:href= "img/sprite.svg#icon-map"></use>
                           </svg>
                           <span>Contact us</span>
                           </a>
                       </li>
                   </ul>

                   <div class="legal">
                       &copy; 2021 by Samuel. All rights reserved.
                   </div>
               </nav>


               
               <!--Details-->
               <main class="evolve-view">
                    <div class="overview">
                       <h1 class="overview__heading">
                           Evolve Logistics LTD.
                       </h1>
                       <div class="overview__star">
                           <svg class="overview__icon-star">
                               <use xlink:href= "img/sprite.svg#icon-star"></use>
                           </svg>
                           <svg class="overview__icon-star">
                               <use xlink:href= "img/sprite.svg#icon-star"></use>
                           </svg>
                           <svg class="overview__icon-star">
                               <use xlink:href= "img/sprite.svg#icon-star"></use>
                           </svg>
                           <svg class="overview__icon-star">
                               <use xlink:href= "img/sprite.svg#icon-star"></use>
                           </svg>
                           <svg class="overview__icon-star">
                               <use xlink:href= "img/sprite.svg#icon-star"></use>
                           </svg>
                       </div>

                       <div class="overview__location">
                           <svg class="overview__icon-location">
                               <use xlink:href= "img/sprite.svg#icon-location-pin"></use>
                           </svg>
                           <button class="btn-inline">Bellway Industrial Park,<br> Nairobi</button>
                       </div>

                       <div class="overview__rating">
                           <div class="overview__rating-average">9.1</div>
                           <div class="overview__rating-count">500 votes</div> 
                       </div>
                   </div>
                   
                   <div class="gallery">
                       <figure class="gallery__item">
                           <img src="img/air.JPG" alt="road freight" class="gallery__photo">
                       </figure>
                       <figure class="gallery__item">
                           <img src="img/rail1.png" alt="road freight" class="gallery__photo">
                       </figure>
                       <figure class="gallery__item">
                           <img src="img/index8.png" alt="road freight" class="gallery__photo">
                       </figure>
                   </div>
                   <div class="gallery1">
                       <figure class="gallery1__item">
                           <img src="img/competition.png" alt="road freight" class="gallery1__photo">
                       </figure>
                       <figure class="gallery1__item">
                           <img src="img/ship.jpg" alt="road freight" class="gallery1__photo">
                       </figure>
                   </div>

                  


                   <div class="detail">
                        <div class="description">
                            <p class="paragraph">
                                At Evolve logistics limited we distinguish ourselves by providing world-class CONTRACT LOGISTICS – comprehensive 
                                course of action that merges traditional logistics with supply chain management processes effectively promoting and 
                                delivering freight forwarding, handling and customs clearance services from service points in Nairobi, Mombasa, Kampala,
                                 Juba, Dar es Salaam and Kigali among others cities in Eastern and Central Africa countries through Air Freight, Sea Freight,
                                 Rail Freight, and Road Transport.
                            </p>
                            <p class="paragraph">
                                Let Us Help You to Find a Solution That Meets Your Needs.
                                We want to help you receive the best cargo logistics experierence there is possible.
                            </p>

                            <ul class="list">
                                <li class="list__item">Air Freight</li>
                                <li class="list__item">Sea Freight</li>
                                <li class="list__item">Road Transport</li>
                                <li class="list__item">Rail Transport</li>
                                <li class="list__item">contract Logistics and Warehousing</li>
                                <li class="list__item">Customs Brokerage</li>
                                <li class="list__item">Supply Chain Management</li>
                            </ul>

                            <div class="recommend">
                                <p class="recommend__count">
                                    Samuel and 3 other friends recommend this company.
                                </p>
                                <div class="recommend__friends">
                                    <img src="img/kev1.png" alt="Friend 1" class="recommend__photo">
                                    <img src="img/evah.png" alt="Friend 2" class="recommend__photo">
                                    <img src="img/rose.png" alt="Friend 3" class="recommend__photo">
                                    <img src="img/mum.png" alt="Friend 4" class="recommend__photo">
                                </div>
                            </div>
                        </div>

                        <div class="user-reviews">
                            <figure class="review">
                                <blockquote class="review__text">
                                    Best services and tracking of goods i have ever experienced. It was an honour for our goods to be taken care of like that.
                                </blockquote>
                                <figcaption class="review__user">
                                    <img src="img/mwai.png" alt="User 1" class="review__photo">
                                    <div class="review__user-box">
                                        <p class="review__user-name">Samuel Mwai</p>
                                        <p class="review__user-date">April 8th, 2021</p>
                                    </div>
                                    <div class="review__rating">9.2</div>
                                </figcaption>
                            </figure>

                            <figure class="review">
                                <blockquote class="review__text">
                                    It was great having them handle my good. I can't fault them in a single thing.
                                </blockquote>
                                <figcaption class="review__user">
                                    <img src="img/kev.png" alt="User 1" class="review__photo">
                                    <div class="review__user-box">
                                        <p class="review__user-name">Kevin Karobia</p>
                                        <p class="review__user-date">Jan 13th, 2021</p>
                                    </div>
                                    <div class="review__rating">8.6</div>
                                </figcaption>
                            </figure>

                            <button class="btn-inline">Show all <span>&rarr;</span></button>
                        </div>
                    </div>

                    <div class="footer">

                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link"><h2 class="footer__heading">Contact Us</h2></a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Bellway Industrial Park</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Embakasi Road Off Airport North Road</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">+254 724 383 856</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">info@evolvelogistics.net</a></li>
                    </ul>

                    <figure class="footer__img">
                    <img src="img/LOG4.jpg" alt="pic" class="footer__img-1" >
                    </figure>

                </div>

                    <div class="cta">
                            <h2 class="cta__contact-us">
                                Good news! We have a great offer for you!
                            </h2>
                            <button class="btn">
                                <a href="#" class="btn__link"></a>
                                <span class="btn__visible">Contact Us</span>
                                <span class="btn__invisible">Your Logistics Partner</span>
                            </button>
                        </div>

                

               </main>
           </div>
       </div> 
    </body>
</html>